.result-screenshot {
    border-radius: 5px;
    cursor: pointer;
    transition: 0.3s;
    width: 80%;
    margin-bottom: 24px;
    box-shadow: 0 0 8px rgba(0, 0, 0, .7);
}

.result-screenshot:hover {opacity: 0.7;}

.screenshotDiv {
  text-align: center;
}

span {
  font-weight: bold;
}
