{% extends 'base.html.twig' %}

{% block title %}Memory{% endblock %}

{% block body %}
  <h1>Le Memory</h1>
  LIEN-VERS-GIT
  <p>
    JavaScript est un incontournable aujourd'hui dans nos site web ! Il s'agissait ici de reproduire le jeu du Memory de Ravensburger grâce à ce langage en s'aidant de la librarie jQuery.
    Le principe est simple : parmis plusieurs cartes face cachées, sélectionner en une puis une deuxième. Si les deux sont identiques, la paire est validée, sinon ces deux cartes sont retournées face cachée. L'objectif étant de retrouver toute les paires, le tout avec une limite de temps (ici 60 secondes).
  </p>

  <h2>Objectifs</h2>
  <ul>
    <li>Utiliser une librairie JavaScript</li>
    <li>Manipuler des objets, des timers, les evenements, ...</li>
    <li>Réfléchir à un algorithme pour traduire un jeu de plateau en programme scripté</li>
  </ul>

  <h2>Résultat</h2>
  IMAGES-DE-LEXERCICE
{% endblock body %}
