{% extends 'base.html.twig' %}

{% block title %}Projet Z{% endblock %}

{% block body %}
  <h1>Projet Z</h1>
  LIEN-VERS-GIT
  <p>
    Projet Z est le nom donné à l'application réalisée pendant le dernier mois de ma formation chez O'Clock. Contrairement aux autres projets celui-ci a été réalisé en équipe de trois et sur une durée d'un mois. Le principe de ce site est simple : en prenant comme support Symfony pour la création du site, réaliser une application qui permet de mettre en relation plusieurs utilisateurs à travers un jeu vidéo. Ce dernier devra utiliser des technologies permettant une communication en temps réel.
  </p>
  <p>
    Sortant d'un mois de formation sur Symfony 3 nous navions pas eu de mal à mettre en place le côté "site" de l'application grâce à ce que nous avions acquis, mais les difficultés ont principalements concernées le jeu et la communication en temps réelle car hormis pour le langage JavaScript, nous n'avions aucunes connaissances dans ce domaine.
    Après plusieurs jours de recherche nous sommes parti sur les technologies JavaScript suivantes :
    <ul>
      <li>Phaser (un framework de jeu en HTML5)</li>
      <li>Socket.IO (pour la communication client/serveur)</li>
      <li>Node.js (réceptionne, traite et envoi des données aux clients)</li>
    </ul>
  </p>
  <p>
    Tel un réel projet en entreprise, il a fallu nous organiser pour respecter le délai imposé. Nous avions donc décider d'adopter une méthode agile pour la réalisation de ce dernier. Un support de type Kanban nous a permis de lister les tâches concernant l'application et de décider des objectifs hebdomadaire de la semaine, une communication quotidienne fut très bénéfique à l'équipe pour suivre l'avancement et repérer les tâches posant problème, une version opérationnelle de l'application était livré chaque semaine et nous ajustions régulièrement les objectifs à atteindre d'après les retours du client (ici représenté par les formateurs).
  </p>

  <h2>Objectifs</h2>
  <ul>
    <li>Créer un site avec Symfony 3 permettant aux utilisateurs de s'inscrire et avoir accès à un jeu multijoueur</li>
    <li>Développer un jeu grâce au framework HTML5 : Phaser</li>
    <li>Mettre en relation les joueurs via les technologies Node.js + Socket.IO</li>
  </ul>

  <h2>Résultat</h2>
  IMAGES-DE-LEXERCICE
{% endblock body %}
