{% extends 'base.html.twig' %}

{% block title %}Un site responsive{% endblock %}

{% block main %}
  <h1>Un site responsive</h1>
  LIEN-VERS-GIT
  <p>
    Les supports étant de plus en plus variés (ordinateurs de bureau, tablettes, smartphone, télévision…), il est important d'offrir aux utilisateurs une interface de consultation adéquate peu importe ce dernier. C'était un exercice visant à adapter l'affichage des articles d'un blog via un framework CSS, ici : Bootstrap.
    Bien sur il existe bien d'autre framework tel que Bulma ou encore Semantic UI, mais l'important ici fut de comprendre le fonctionnement des medias queries, à s'éxercer à utiliser un outil développé par d'autres personnes et à lire leur documentation.
  </p>

  <h2>Objectifs</h2>
  <ul>
    <li>S'initier aux medias queries</li>
    <li>Utiliser un framework</li>
    <li>S'entrainer à lire une documentation</li>
    <li>Penser l'affichage d'un contenu selon le support</li>
  </ul>

  <h2>Résultat</h2>
  <div class="row">
    <div class="col-4">
      <img src="{{ asset('img/portfolio/responsive/responsive_small.png') }}" alt="capture écran page web version mobile">
    </div>
    <div class="col-4">
      <img src="{{ asset('img/portfolio/responsive/responsive_medium.png') }}" alt="capture écran page web version tablette">
    </div>
    <div class="col-4">
      <img src="{{ asset('img/portfolio/responsive/responsive_wide.png') }}" alt="capture écran page web écran large">
    </div>
  </div>
  {% block javascripts %}{% endblock %}
{% endblock main %}
