{% extends 'base.html.twig' %}

{% block title %}Les rich snippets{% endblock %}

{% block body %}
  <h1>Les rich snippets</h1>
  LIEN-VERS-GIT
  <p>
    Avoir un beau site web et fonctionnel pour y proposer ses produits et ses services c'est bien, mais s'il n'est pas visible au grand publique, l'argent et les efforts qui y ont été consacré pourrait savérer infructueux. Il est donc important de savoir améliorer son référencement dans les moteurs de recherche.
    Le sujet étant très vaste, nous nous sommes penchés sur un exercice visant à l'utilisation des métadonnées avec les microdatas/JSON-LD pour obtenir sur Google un produit "Rich snippet". Lors d'une recherche sur le moteur de Google, elles permettront d'enrichir les résultats sur nos produits de détails les concernants comme le prix, la disponibilité, la description ou encore sa notation (si le site dispose bien évidemment d'un système d'évaluation).
  </p>

  <h2>Objectifs</h2>
  <ul>
    <li>Initiation à la SEO</li>
    <li>Créer un produit rich snippet</li>
  </ul>

  <h2>Résultat</h2>
  IMAGES-DE-LEXERCICE
{% endblock body %}
