<div class="col-2 timestamp">
    <time datetime="2012-02">date O'Clock</time>
</div>
<div class="col-10">
    <h3>O'Clock</h3>
    <p>O'Clock Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolore earum, adipisci maxime consectetur praesentium eum nulla laudantium perferendis fugiat accusamus. Cumque quis corporis deserunt eos a eveniet facere quas repudiandae.</p>
    <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Eum tenetur quasi quas quo atque praesentium, alias animi unde dicta ab. Dolor provident laborum quis aut tempore enim, saepe obcaecati explicabo.</p>
</div>

<div class="col-2 timestamp">
    <time datetime="2012-02">date Polytech</time>
</div>
<div class="col-10">
    <h3>Polytech</h3>
    <p>Polytech Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolore earum, adipisci maxime consectetur praesentium eum nulla laudantium perferendis fugiat accusamus. Cumque quis corporis deserunt eos a eveniet facere quas repudiandae. Lorem ipsum dolor sit amet consectetur adipisicing elit. Officiis quia amet dignissimos, odio, voluptatibus inventore atque maiores ut molestias vel voluptas tenetur ad consequatur repellat! Velit obcaecati maxime assumenda odit!</p>
</div>

<div class="col-2 timestamp">
    <time datetime="2012-02">date Nîmes</time>
</div>
<div class="col-10">
    <h3>Nîmes</h3>
    <p>Nîmes Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolore earum, adipisci maxime consectetur praesentium eum nulla laudantium perferendis fugiat accusamus. Cumque quis corporis deserunt eos a eveniet facere quas repudiandae. Fugiat deleniti qui ratione sunt id quae tenetur inventore labore autem alias nihil nam soluta magnam similique quaerat suscipit, fugit itaque delectus.</p>
</div>