<div class="col-2 timestamp">
  <p>
    <time datetime="2018-03">Mars 2018</time><br>|<br><time datetime="2017-09">Septembre 2017</time>
  </p>
</div>
<div class="col-10 formation">
    <h3><a href="https://oclock.io/" title="Visiter le site d'O'Clock'" target="_blank">O'Clock</a></h3>
    <p>O'Clock est une école proposant de former au métier de développeur web sur une période de cinq mois en téléprésentiel.</p>
    <p>Divisé en trois étapes, les trois premiers mois m'ont permis d'acquérir des compétences dans les langages de bases tel que le <abbr title="HyperText Markup Language">HTML</abbr>, <abbr title="Cascading Style Sheets">CSS</abbr>, <abbr title="Hypertext Preprocessor">PHP</abbr>, <abbr title="Structured Query Language">SQL</abbr>, JavaScript et <abbr title="Asynchronous JavaScript And XML">Ajax</abbr>, le tout dans un environnement Linux en me servant quotidiennement de la plateforme <a href="https://github.com/GuillaumeD84" title="Visiter ma page GitHub" target="_blank">GitHub</a>, mais également à la programmation orientée objet, au modèle <abbr title="Model–view–controller">MVC</abbr> et au <abbr title="Responsive web design">RWD</abbr>.
    Associé à cela nous avons été sensibilisés au référencement naturel (<abbr title="Search engine optimization">SEO</abbr>) ainsi qu'à la maîtrise de la qualité en projet Web via une certification nommée <a href="https://www.opquast.com/" title="Visiter le site d'Opquast" target="_blank">Opquast</a>.</p>
    <p>S'en suivi d'un mois intensif sur le framework PHP <a href="https://symfony.com/" title="Visiter le site de Symfony" target="_blank">Symfony</a> (version 3.x). Je vous invite à consulter la page sur mes <a href="{{ path('skills') }}" title="Consulter la page sur mes compétences">compétences</a> pour plus de détails à ce sujet.</p>
    <p>Et finalement l'apothéose ! Un projet d'un mois nommé <a href="{{ path('projetz') }}" title="Consulter la page détaillant le projet Projet Z">Projet Z</a>, exclusivement consacré à l'élaboration d’un projet dans les conditions du réel d’un développeur en entreprise, en équipe de trois personnes et en totale autonomie.</p>
</div>

<div class="col-2 timestamp">
  <p>
    <time datetime="2014-09">Septembre 2014</time><br>|<br><time datetime="2011-09">Septembre 2011</time>
  </p>
</div>
<div class="col-10 formation">
    <h3><a href="https://polytech.univ-amu.fr/formations/cycle-ingenieur/genie-industriel-informatique" title="Visiter le site de Polytech Marseille" target="_blank">Polytech Marseille</a></h3>
    <p>J'ai passé trois ans à Polytech Marseille dans la filière génie industriel. L'objectif de celle-ci est de former des spécialistes de l’organisation scientifique et de la mise en oeuvre de la production industrielle de biens et de services.</p>
    <p>Au programme des enseignements généraux tel que la comptabilité, le droit, les mathématiques, la recherche opérationnelle, l'anglais, la gestion de projet etc... associé à des matières relevant de l'informatique industrielle comme les réseaux, la sécurité, les bases de données, l'algorithmique etc... ainsi qu'à des matières liées au génie industriel comme l'automatique, la production, la logistique etc...</p>
</div>

<div class="col-2 timestamp">
  <p>
    <time datetime="2011-07">Juillet 2011</time><br>|<br><time datetime="2009-09">Septembre 2009</time>
  </p>
</div>
<div class="col-10 formation">
    <h3><a href="http://www.iut-nimes.fr/dut/geii" title="Visiter le site de l'IUT de Nîmes" target="_blank">IUT de Nîmes</a></h3>
    <p>Un diplôme passé en deux ans dans le département Génie Electrique et Informatique Industrielle (<abbr title="Génie Electrique et Informatique Industrielle">GEII</abbr>) de l'<abbr title="Institut universitaire de technologie">IUT</abbr> de Nîmes. La vocation de ce <abbr title="Diplôme universitaire de technologie">DUT</abbr> est de former aux fonctions de technicien supérieur et de préparer à poursuivre des études comme cela a été mon cas.</p>
    <p>Il a pour objectif de former sur la production, énergies renouvelables, réseaux embarqués, l'automatique, l'électronique et l'électronique de puissance, l'informatique, l'informatique industrielle, etc ... Ce sont des compétences très appréciées dans le secteur de l'automobile, l'énergie, la domotique, l'aéronautique mais également dans le bâtiment.</p>
</div>
