<ul class="social-links">
    <li>
        <a class="social-link" href="mailto:guillaume.durand@outlook.fr">
            <i class="far fa-envelope"></i>
        </a>
    </li>
    <li>
        <a class="social-link" href="https://twitter.com/GuillaumeDur84" target="_blank">
            <i class="fab fa-twitter"></i>
        </a>
    </li>
    <li>
      <a class="social-link" href="https://www.linkedin.com/in/guillaume-durand-367258161" target="_blank">
        <i class="fab fa-linkedin"></i>
      </a>
    </li>
    <li>
        <a class="social-link" href="https://github.com/GuillaumeD84" target="_blank">
            <i class="fab fa-github"></i>
        </a>
    </li>
</ul>
