{% extends 'base.html.twig' %}

{% block title %}A propos de moi{% endblock %}

{% block body %}
    {# Navigation container #}
    <div class="container">
        <div class="row">
            {# Aside nav #}
            {% include 'partials/_nav.html.twig' %}

            {# Main content #}
            <main class="col-12 col-md-8 col-xl-9">
                <h1>Qui suis-je ?</h1>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ratione ducimus, officiis ullam quibusdam minus sint maxime eaque neque repellendus aliquid commodi, fugit dolores, aliquam quasi. Maiores saepe adipisci dolorum voluptates. Lorem ipsum dolor sit amet consectetur adipisicing elit. Fugit laudantium ducimus eos. Eligendi, atque ea officia est fuga nam, ullam eum error sed ut maiores voluptas laudantium tenetur nemo mollitia? Lorem ipsum dolor sit amet consectetur adipisicing elit. Ratione cum doloremque exercitationem inventore quaerat deleniti sunt dignissimos similique aliquid voluptatum, quam sapiente, numquam quisquam reprehenderit alias. Dolorem vero esse cupiditate.</p>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Nulla excepturi impedit accusantium voluptas aliquam officia quos nam a distinctio tenetur corrupti dignissimos ducimus, sint, cum sequi voluptates, asperiores vel soluta.</p>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Possimus culpa atque unde corporis laborum repudiandae ratione quod rem excepturi eaque quasi tenetur tempore accusamus temporibus nostrum, reiciendis esse quos quas! Lorem ipsum dolor sit amet consectetur, adipisicing elit. Dolorem iste ex aspernatur maiores totam, minima dolor perferendis odit dolore eveniet labore dolores unde placeat! Nostrum soluta fuga cupiditate consequuntur nesciunt.</p>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Enim blanditiis recusandae molestiae nam quibusdam laborum sit cum vero provident et beatae cupiditate harum, unde doloremque aperiam numquam, esse, at dolorem.</p>
            </main>
        </div>
    </div>
{% endblock body %}
