{% extends 'base.html.twig' %}

{% block title %}A propos de moi{% endblock %}

{% block body %}
    {# Navigation container #}
    <div class="container">
        <div class="row">
            {# Aside nav #}
            {% include 'partials/_nav.html.twig' %}

            {# Main content #}
            <main class="col-12 col-md-8 col-xl-9">
                <h1>Qui suis-je ?</h1>
                <p>Anciennement diplômé de l'école d'ingénieur Polytech Marseille en informatique industrielle, j'ai récemment décidé de suivre une formation pour devenir développeur web.</p>
                <p>Grâce à l'école O'Clock, j'ai appris tout ce qu'un bon développeur se doit de maitriser aujourd'hui et c'est notamment par le biais de ce site que je souhaite vous le démontrer.</p>
                <p>Si vous souhaitez en apprendre plus sur mon parcours et mes compétences je vous invite à consulter les pages détaillant ma formation ainsi que celle des projets réalisés pendant celle-ci.</p>
                <img src="" alt="">
            </main>
        </div>
    </div>
{% endblock body %}
