{% extends 'base.html.twig' %}

{% block title %}Contact{% endblock %}

{% block main %}
  <h1>Comment me contacter ?</h1>
  <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Consectetur id possimus, consequuntur ipsam, nesciunt doloremque esse dolores aliquid ea tempore, corporis incidunt eum ab magni. Soluta totam fugiat deleniti minus.</p>
  <ul>
    <li>email</li>
    <li>twitter</li>
    <li>linkedin</li>
  </ul>
{% endblock main %}
