{% extends 'base.html.twig' %}

{% block title %}Formation{% endblock %}

{% block body %}
    {# Navigation container #}
    <div class="container">
        <div class="row">
            {# Aside nav #}
            {% include 'partials/_nav.html.twig' %}

            {# Main content #}
            <main class="col-12 col-md-8 col-xl-9">
                <h1>Ma formation</h1>
                <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Molestias sit eius officiis quia, delectus nemo voluptates aliquam! Ut totam, atque ducimus consequuntur, fugit expedita quo non soluta, eos recusandae sed?</p>
                <div class="row">
                    {# <div class="col-2">flèche en pos relative</div> #}
                    {% include 'partials/_formation.html.twig' %}
                </div>
            </main>
        </div>
    </div>
{% endblock body %}
