{% extends 'base.html.twig' %}

{% block title %}Formation{% endblock %}

{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('css/formation.css') }}">
{% endblock %}

{% block body %}
    {# Navigation container #}
    <div class="container">
        <div class="row">
            {# Aside nav #}
            {% include 'partials/_nav.html.twig' %}

            {# Main content #}
            <main class="col-12 col-md-8 col-xl-9">
                <h1>Ma formation</h1>
                <p>Mes premiers pas dans le monde de la programmation remontent à ma première année de DUT (Electricité et informatique industrielle) avec le langage C. J'y ai appris les bases grâce à de petites applications élémentaires tel que le jeu du pendu ou encore une calculatrice.</p>

                <p>J'ai eu l'occasion pendant cette année là, de réaliser un jeu en binôme avec un camarade de classe. Il s'agissait d'un jeu de tir avec un écran statique où le but était de tirer sur des cibles mouvantes pour obtenir le maximum de point. Entre le fait de devoir travailler en équipe ainsi qu'avec des langages que nous ne connaissions pas quelques mois auparavant, les défis étaient au rendez-vous. Imaginer un concept, s'organiser pour pouvoir rendre un produit fini avant la fin du temps imparti, apprendre à rechercher les informations nécessaires, résoudre des problèmes d'algorithmique, se confronter aux bugs et j'en passe ... En résumé, ce fut une excellente première expérience en programmation informatique.</p>

                <p>Par la suite mes études m'ont menée vers un diplôme d'ingénieur en informatique industrielle à Polytech Marseille où j'ai approfondi mes connaissances en informatique grâce aux langages JAVA, HTML, CSS ainsi que le JavaScript et SQL. Le nombre de matières étant très élevé nous n'avions pas eu l'occasion d'effectuer de projet similaire à mes débuts en DUT.</p>

                <p>Après l'obtention de mon diplôme j'ai passé quelques années à travailler (sans rapport avec le développement), mais fin 2017 j'ai finalement débuté une formation intensive chez O'Clock pour y apprendre le métier de développeur web. Ce fut cinq mois acharnés pendant lesquels je suis reparti de zéro et qui m'ont permis d'avoir les compétences techniques et une première expérience d'un projet de dev dans les conditions du réel.</p>
                {# <h2>Mes débuts</h2>
                <p>J'ai effectué mes premiers programmes informatiques en langages C au début de mon DUT en électricité et informatique industrielle. Il s'agissait de programmes élémentaires tel que le jeu du pendu ou encore une calculatrice simple, mais c'est à ce moment-là que j'ai compris où la suite des évènements me conduirais.</p>
                <p>J'ai eu l'occasion pendant cette année là, de réaliser un jeu en bînome avec un camarade de classe. Il s'agissait d'un jeu de tir avec un écran statique où le but était de tirer sur des cibles mouvantes pour obtenir le maximum de point. Entre le fait de devoir travailler en équipe ainsi qu'avec des langages que nous ne connaissions pas quelques mois auparavant, les défis étaient au rendez-vous. Imaginer un concept, s'organiser pour pouvoir rendre un produit fini avant la fin du temps imparti, apprendre à rechercher les informations necessaires, résoudre des problèmes d’algorithmique, se confronter aux bugs et j'en passe ... En resumé, ce fut une ecxellente première expérience en programmation informatique.</p>
                <h2>Ensuite ?</h2>
                <p>Après mon DUT je me suis orienté vers Polytech Marseille et le diplôme d'ingénieur en informatique industrielle ou j'ai approfondi mes connaissances en informatique grâce au langage JAVA, HTML, CSS ainsi que le Javascript et SQL. Le diplôme n'étant pas orienté à 100% en programmation nous n'avions pas eu l'occasion d'effectuer de projet similaire à mes débuts en DUT.</p>
                <h2>Que suis capable de faire aujourd'hui</h2>
                <p>Après avoir obtenu mon diplôme, j'ai passé quelques années loin de la programmation jusqu'à aujourd'hui. Fin 2017 j'ai débuté une formation intensive chez O'Clock pour apprendre le métier de develloppeur web.</p>
                <p>On nous y a enseigné les bases qui feront de nous de bon développeur web mais si vous souhaitez plus d'informations à ce sujet n'hésitez pas à consulter la page sur mes <a>compétences</a>.</p>
                <h2>Mes diplômes et formation</h2> #}
                <div class="row formations">
                    <div class="col-2 time-arrow">
                        {# <div class="top"></div>
                        <div class="arrow-box"></div> #}
                        <div class="arrow-box"></div>
                        <div class="bot"></div>
                    </div>
                    {% include 'partials/_formation.html.twig' %}
                </div>
            </main>
        </div>
    </div>
{% endblock body %}
