{% extends 'base.html.twig' %}

{% block title %}Formation{% endblock %}

{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('css/formation.css') }}">
{% endblock %}

{% block main %}
  <h1>Ma formation</h1>
  <div id="intro">
    <p>Mon initiation au monde de la programmation remontent à ma première année de <a href="http://www.iut-nimes.fr/dut/geii" title="Visiter le site de l'IUT de Nîmes concernant ce DUT" target="_blank">DUT (Electricité et informatique industrielle)</a> avec le langage C. J'y ai appris les bases grâce à de petites applications élémentaires tel que le jeu du pendu ou encore une calculatrice.</p>

    <p>J'ai eu l'occasion pendant cette année là, de réaliser un jeu en binôme avec un camarade de classe. Il s'agissait d'un jeu de tir avec un écran statique où le but était de tirer sur des cibles mouvantes pour obtenir le maximum de point. Entre le fait de devoir travailler en équipe ainsi qu'avec des langages que nous ne connaissions pas quelques mois auparavant, les défis étaient au rendez-vous. Imaginer un concept, s'organiser pour pouvoir rendre un produit fini avant la fin du temps imparti, apprendre à rechercher les informations nécessaires, résoudre des problèmes d'algorithmique, se confronter aux bugs et j'en passe ... En résumé, ce fut une excellente première expérience en programmation informatique.</p>

    <p>Par la suite mes études m'ont menée vers un diplôme d'ingénieur en informatique industrielle à Polytech Marseille où j'ai approfondi mes connaissances en informatique grâce aux langages Java, <abbr title="HyperText Markup Language">HTML</abbr>, <abbr title="Cascading Style Sheets">CSS</abbr> ainsi que le JavaScript et <abbr title="Structured Query Language">SQL</abbr>.</p>

    <p>Après l'obtention de mon diplôme j'ai passé quelques années à travailler (néanmoins sans rapport avec le développement) et c'est fin 2017 que j'ai finalement débuté une formation intensive chez <a href="https://oclock.io/" title="Visiter le site d'O'Clock'" target="_blank">O'Clock</a> pour y apprendre le métier de développeur web. Ce fut cinq mois acharnés pendant lesquels je suis reparti de zéro et qui m'ont permis d'avoir les compétences techniques et une première expérience d'un projet de dev dans les conditions du réel.</p>
  </div>
  <div class="row formations">
      <div class="col-2 time-arrow">
          <div class="arrow-box"></div>
          <div class="bot"></div>
      </div>
      {% include 'partials/_formation.html.twig' %}
  </div>
{% endblock main %}
