{% extends 'base.html.twig' %}

{% block title %}Développeur Web{% endblock %}

{% block main %}
  <h1>Salut moi c'est Guillaume</h1>
  <p>Je suis un jeune développeur web nouvellement formé par l'école de formation en téléprésentiel : <span>O'Clock</span></p>
{% endblock main %}
