{% extends 'base.html.twig' %}

{% block title %}Développeur Web{% endblock %}

{% block stylesheets %}<link rel="stylesheet" href="{{ asset('css/index.css') }}">{% endblock %}

{% block main %}
  <h1>Bonjour je m'appelle Guillaume</h1>
  <p>Anciennement diplômé de l'école d'ingénieur Polytech Marseille en informatique industrielle, je suis un jeune homme nouvellement préparé pour le métier de développeur web par l'école de formation en téléprésentiel : <a href="https://oclock.io/" title="Visiter le site de O'Clock" target="_blank">O'Clock</a>.</p>
  <p>Pour en savoir plus sur mon parcours et mes compétences n'hésitez pas à consulter les différentes pages du site.</p>
  <img src="{{ asset('img/working.jpg') }}">
{% endblock main %}
