{% extends 'base.html.twig' %}

{% block title %}Développeur Web{% endblock %}

{% block body %}
    {# Navigation container #}
    <div class="container">
        <div class="row">
            {# Aside nav #}
            {% include 'partials/_nav.html.twig' %}
                
            {# Main content #}
            <main class="col-12 col-md-8 col-xl-9">
                <h1>Bonjour</h1>
                <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Quasi, incidunt atque dignissimos a optio, non ipsam voluptates deserunt accusamus expedita dolor ab sequi, in tempora quis tenetur sapiente illum maiores.</p>
            </main>
        </div>
    </div>
{% endblock body %}
