{% extends 'base.html.twig' %}

{% block title %}Portfolio{% endblock %}

{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('css/portfolio.css') }}">
{% endblock %}

{% block main %}
    <h1>Portfolio</h1>
    <p>Il sera principalement question ici de présenter des exercices réalisés pendant ma formation sur différents langages et technologies voir même des principes comme le web adaptatif, ainsi que le projet concluant cinq mois d'apprentissage réalisé avec une équipe de trois personnes intitulé : Projet Z.</p>
    {% include 'partials/_portfolio.html.twig' %}
{% endblock main %}
