{% extends 'base.html.twig' %}

{% block title %}Portfolio{% endblock %}

{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('css/portfolio.css') }}">
{% endblock %}

{% block main %}
    <h1>Portfolio</h1>
    <p id="mainParagraph">Cette page est destinée à vous présenter des exercices réalisés pendant ma formation sur différents langages, technologies et principes comme le web adaptatif ou  le référencement naturel, ainsi que le projet concluant les cinq mois de formation réalisé avec une équipe de trois personnes intitulé : <a href="{{ path('projetz') }}" title="Consulter la page détaillant le projet Projet Z">Projet Z</a>. Vous pouvez accéder pour chacun d'entre eux accéder à une page détaillée ainsi qu'un lien vers leur repo GitHub respectif pour pouvoir consulter le code source.</p>
    {% include 'partials/_portfolio.html.twig' %}
{% endblock main %}
