{% extends 'base.html.twig' %}

{% block title %}Portfolio{% endblock %}

{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('css/portfolio.css') }}">
{% endblock %}

{% block body %}
    {# Navigation container #}
    <div class="container">
        <div class="row">
            {# Aside nav #}
            {% include 'partials/_nav.html.twig' %}

            {# Main content #}
            <main class="col-12 col-md-8 col-xl-9">
                <h1>Portfolio</h1>
                <p>Il sera principalement question ici de présenter des exercices réalisés pendant ma formation sur différents langages et technologies voir même des principes comme le web adaptatif, ainsi que le projet concluant 5 mois d'apprentissage réalisé avec une équipe de trois personnes intitulé : Projet Z.</p>
                {% include 'partials/_portfolio.html.twig' %}
            </main>
        </div>
    </div>
{% endblock body %}
