{% extends 'base.html.twig' %}

{% block title %}Mes compétences{% endblock %}

{% block main %}
  <h1>Mes compétences</h1>
  <p>Une formation intensive de cinq mois chez <a href="https://oclock.io/" title="Visiter le site d'O'Clock" target="_blank">O'Clock</a> m'a permit de renforcer mes connaissances et d'acquérir les compétences nécessaires pour devenir développeur web.</p>

  <h2>Ma formation</h2>
  <p>Mes premiers pas dans la création d'application web m'ont initié aux langages <abbr title="HyperText Markup Language">HTML</abbr>, <abbr title="Cascading Style Sheets">CSS</abbr>, JavaScript et afin de répondre aux besoins actuels, j'ai également appris à utiliser l'<abbr title="Asynchronous JavaScript And XML">Ajax</abbr>, à manipuler les media queries et un framework CSS (<a href="https://getbootstrap.com/" target="_blank">Bootstrap</a> pour mon cas) afin d'améliorer mes applications et à rendre mes sites web adaptables en fonction du support de consultation.</p>

  <p>Pour pouvoir créer des applications plus complexes et dynamiques nous avons étudié le langage <abbr title="Hypertext Preprocessor">PHP</abbr> et la programmation orientée objet. C'est alors que nous nous sommes intéressé à l'architecture <abbr title="Model–view–controller">MVC</abbr> et aux bases de données relationnelles via <abbr title="Structured Query Language">SQL</abbr>.</p>

  <p>D'un autre côté, l'apprentissage des langages ne fut pas notre unique occupation. La plateforme <a href="https://github.com/GuillaumeD84" title="Visiter ma page GitHub" target="_blank">GitHub</a> a occupé une grande par de notre enseignement, de même que <a href="https://slack.com/" title="Consulter la page d'accueil de Slack" target="_blank">Slack</a> pour pouvoir communiquer et échanger avec mes formateurs et mes collègues. J'ai également eu l'occasion de réaliser un projet en me basant sur une <em>méthode agile</em> pour privilégier au maximum l'interaction et l'implication de tous les participants afin d'être réactif aux changements et imprévus et avec comme objectif de pouvoir proposer régulièrement une version fonctionnelle de l'application.</p>

  <p>Par ailleurs, j'ai passé avec succès la certification Opquast : <strong>Maîtrise de la qualité en projet Web</strong>, qui atteste du niveau de maîtrise des bonnes pratiques, du vocabulaire et des contextes d’usage des sites Web et services en ligne. Vous pouvez consultez mon <a href="https://certificates.opquast.com/certificate/H7QR05/" title="Consultez le certificat de Guillaume DURAND sur le site d'Opquast" target="_blank">certificat Opquast</a> directement en ligne ou via cette adresse : <a href="https://www.opquast.com/certification/certificats/" title="Visiter la page du site Opquast permettant d'authentifier un certificat" target="_blank">Authentifier un certificat Opquast</a> en utilisant le numéro d'identification suivant : <em>H7QR05</em>.</p>

  <h2>Découverte de Symfony 3</h2>
  <p>Une grosse partie de ma formation fut tourné vers la découverte d'un framework PHP. Pendant deux mois je me suis donc exercé sur le framework <a href="https://symfony.com/" title="Visiter le site de Symfony" target="_blank">Symfony</a> en version 3 et on se rend rapidement compte de sa puissance pour concevoir rapidement une application web.</p>
  <p>J'ai eu l'occasion de réaliser en une quarantaine d'heures, une petite application nommée <a href="{{ path('faqoclock') }}" title="Consulter la page détaillant l'application FAQ-O-Clock">FAQ-O-Clock</a>, de type questions/réponses en me basant sur le modèle de <a href="https://fr.quora.com/" title="Visiter le site Quora" target="_blank">Quora</a>/<a href="https://stackoverflow.com/" title="Visiter le site StackOverflow" target="_blank">StackOverflow</a>, mais également de réaliser un projet en équipe sur une durée d'un mois nommé <a href="{{ path('projetz') }}" title="Consulter la page détaillant le projet Projet Z">Projet Z</a>, qui consistait à créer un site en utilisant ce framework et permettant aux utilisateurs d'intéragir en temps réel via un jeu vidéo grâce à plusieurs technologies comme Node.js et Socket.IO.</p>
  <p>Voici une liste des principaux éléments que j'ai étudiés sur le framework :
    <ul>
      <li>Routing et contrôleurs</li>
        <ul>
          <li>Requête, front controller, routes, méthodes de contrôleurs, réponse</li>
          <li>Cookies, Session et FlashMessages</li>
          <li>Exposer des routes en JS avec FOSJsRoutingBundle</li>
        </ul>
      <li>Twig</li>
        <ul>
          <li>Twig avec Symfony</li>
          <li>Personnaliser les pages d'erreur</li>
          <li>Personnaliser les thèmes de formulaires ou de template CRUD avec Twig</li>
        </ul>
      <li>Bases de données avec Doctrine</li>
        <ul>
          <li>Créer, utiliser la ligne de commande doctrine, sauvegarder, récupérer, mettre à jour, supprimer, architecture</li>
          <li>Associations avec Doctrine</li>
          <li>Doctrine Query Language (DQL), Doctrine QueryBuilder</li>
          <li>Données de test, données factices avec Doctrine et Faker</li>
        </ul>
      <li>Formulaires</li>
        <ul>
          <li>Les formulaires (base)</li>
          <li>Les formulaires avec Doctrine</li>
        </ul>
      <li>Sécurité</li>
        <ul>
          <li>Configurer le composant Security depuis une entité User</li>
          <li>Les Rôles</li>
        </ul>
      <li>Services</li>
        <ul>
          <li>Création d'un service</li>
        </ul>
      <li>Evénements</li>
        <ul>
          <li>Les événements avec Symfony</li>
        </ul>
      <li>Commandes Console</li>
        <ul>
          <li>Création d'une commande console</li>
        </ul>
      <li>Upload de fichier avec et sans Doctrine</li>
        <ul>
          <li>Upload lié à une entité Doctrine</li>
          <li>Améliorer la gestion des fichiers uploadés</li>
        </ul>
      <li>Manipulation d'images avec LiipImagineBundle</li>
        <ul>
          <li>LiipImagineBundle</li>
        </ul>
      <li>Gestion des erreurs avec Symfony et PHP</li>
        <ul>
          <li>Résoudre les erreurs</li>
        </ul>
      <li>Tests</li>
        <ul>
          <li>Tests unitaires</li>
          <li>Tests fonctionnels</li>
        </ul>
    </ul>
  </p>
{% endblock main %}
