{% extends 'base.html.twig' %}

{% block title %}Mes compétences{% endblock %}

{% block body %}
    {# Navigation container #}
    <div class="container">
        <div class="row">
            {# Aside nav #}
            {% include 'partials/_nav.html.twig' %}

            {# Main content #}
            <main class="col-12 col-md-8 col-xl-9">
                <h1>Mes compétences</h1>
                <p></p>
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Tempora quaerat illo debitis provident qui. Eos repellat esse dolore alias velit possimus ducimus soluta earum. Sequi cumque cupiditate placeat ipsam voluptates.
                <h2>Il est important d'avoir de bonnes bases</h2>
                <p>HTML/CSS/JAVASCRIPT/PHP Lorem ipsum dolor sit amet consectetur adipisicing elit. Fugiat ea iusto est accusantium minus eum, praesentium optio harum quia in similique molestiae cupiditate! Deleniti quae, maxime repellendus nisi reiciendis delectus. Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
                <p>Fugiat ea iusto est accusantium minus eum, praesentium optio harum quia in similique molestiae cupiditate! Deleniti quae, maxime repellendus nisi reiciendis delectus. Lorem ipsum dolor sit amet consectetur, adipisicing elit. Explicabo quaerat adipisci voluptate at temporibus a. Illum, deserunt accusamus doloribus mollitia esse doloremque nemo odit ut eum maiores eos reprehenderit iure?</p>
                <h2>Symfony, un framework PHP puissant et robuste</h2>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptates delectus sequi quos nemo quasi in odit necessitatibus porro debitis at, vero, omnis error adipisci! Nihil saepe in similique dolore iusto!</p>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Explicabo tempore ipsam reiciendis odit. Nobis autem ipsam vero culpa quidem accusantium modi non aperiam neque? Eum omnis ex aliquam ratione praesentium?</p>
                <h2>Ok, les outils et les langages c'est bien mais est-ce suffisant ?</h2>
                <p>Opquast Lorem ipsum, dolor sit amet consectetur adipisicing elit. Earum facere ut deserunt, commodi porro dicta molestias incidunt mollitia assumenda quas, cum est facilis fugit, aliquid odio impedit exercitationem necessitatibus expedita. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Vero quaerat voluptates alias ut! Unde nobis consectetur mollitia aperiam animi, accusamus, quidem doloribus nulla odit quam eos aliquam maxime, necessitatibus neque.</p>
            </main>
        </div>
    </div>
{% endblock body %}
