{% extends 'base.html.twig' %}

{% block title %}Mes compétences{% endblock %}

{% block body %}
    {# Navigation container #}
    <div class="container">
        <div class="row">
            {# Aside nav #}
            {% include 'partials/_nav.html.twig' %}

            {# Main content #}
            <main class="col-12 col-md-8 col-xl-9">
                Mes compétences.
            </main>
        </div>
    </div>
{% endblock body %}
