aside#nav a {
    text-decoration: none;
}

body {
    margin: 16px 0;
}

aside#nav {
    text-align: center;
}

#nav-top {
    margin-bottom: 16px;
}

#nav-top #name {
    font-size: 8vw;
}

#nav-top #title {
    font-size: 6vw;
}

aside #profilPic {
    width: 100%;
    border-radius: 50%;
}

ul.social-links,
#navExtendable ul,
#navLinks ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

.social-links li {
    display: inline;
    font-size: 1.4em;
}

.navbar-brand img {
    height: 30px;
    width: 30px;
}

ul.social-links li {
    padding: 8px;
}

nav button.navbar-toggler {
    font-size: 1rem;
    border: none;
}

nav .navbar-toggler-icon {
    height: 1.5em;
    line-height: 1.5em;;
    vertical-align: middle;
    background-image: none !important;
    color: black;
}

aside #navLinks {
    display: none;
    text-align: left;
}

@media screen and (min-width: 768px) {
    #nav-top #name {
        font-size: 3vw;
    }

    #nav-top #title {
        font-size: 2.5vw;
    }

    nav.navbar {
        display: none;
    }

    aside #navLinks {
        display: block;
    }

    .social-links li {
        font-size: 1.1em;
    }
}

@media screen and (min-width: 1440px) {
    #nav-top #name {
        font-size: 1.8vw;
    }

    #nav-top #title {
        font-size: 1.5vw;
    }
}