aside#navigation,
div#content {
    float: left;
    width: 100%;
    text-align: center;

    box-sizing: border-box;
    padding: 20px;
}

aside#navigation a {
    text-decoration: none;
}

aside #myself {
    text-align: center;
}

#navExtendable ul,
#navLinks ul {
    list-style: none;
    margin-left: 0;
    padding-left: 0;
}

.social li {
    display: inline;
}

#navExtendable .social {
    float: left;
    margin: 0;
}

span.burger-icon {
    float: right;
}

aside #navLinks {
    clear: both;
}

aside #navLinks #pageLinks,
aside #navLinks .social {
    display: none;
}

@media screen and (min-width: 768px) {
    aside#navigation,
    div#content {
        text-align: left;
    }

    aside #navExtendable {
        display: none;
    }

    aside #navLinks #pageLinks,
    aside #navLinks .social {
        display: block;
    }

    aside#navigation {
        width: 400px;
    }

    div#content {
        width: calc(100% - 420px);
    }
}