aside#nav a {
    text-decoration: none;
}

aside#nav .navbar-brand i,
aside#nav .navbar-toggler-icon {
    color: rgba(240, 240, 240, 1);
    font-size: 1.5em;
}

body {
    /* font-family: 'Quicksand', sans-serif; */
    font-family: 'Play', sans-serif;
}

@media screen and (min-width: 768px) {
    body {
        overflow-y: hidden;
    }

    aside#nav,
    main {
        min-height: 100vh;
        max-height: 100vh;
        overflow-y: auto;
    }
}

aside#nav,
main {
    padding-top: 16px;
}

aside#nav {
    font-family: 'Play', sans-serif;
    text-align: center;
    padding-top: 16px;

    /* https://css-tricks.com/tinted-images-multiple-backgrounds/ */
    background:
    /* top, transparent red, faked with gradient */
    linear-gradient(
      rgba(0, 0, 0, 0.5),
      rgba(0, 0, 0, 0.5)
    ),
    /* bottom, image */
    /* url('../img/city-wallpaper-4.jpg'); */
    url('../img/hexagon_wallpaper_by_voidnu_edited.jpg');
}

#nav-top {
    margin-bottom: 16px;
}

#nav-top #name {
    font-size: 8vw;
    /* color: blanchedalmond; */
    color: rgba(240, 240, 240, 1);
}

#nav-top #title {
    font-size: 6vw;
    /* color: blanchedalmond; */
    color: rgba(240, 240, 240, 1);
}

#nav-top #subtitle {
    font-size: 6vw;
    color: rgba(240, 240, 240, 1);
}

aside #profilPic {
    width: 100%;
    border-radius: 50%;
}

ul.social-links,
#navExtendable ul,
#navLinks ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

.social-links li {
    display: inline;
    font-size: 1.4em;
}

.navbar-brand img {
    height: 30px;
    width: 30px;
}

ul.social-links li {
    padding: 8px;
}

nav button.navbar-toggler {
    font-size: 1rem;
    border: none;
}

nav .navbar-toggler-icon {
    height: 1.5em;
    line-height: 1.5em;;
    vertical-align: middle;
    background-image: none !important;
    color: blanchedalmond;
}

#nav .nav-link {
    color: blanchedalmond;
}

aside #navLinks {
    display: none;
    text-align: left;
}

@media screen and (min-width: 768px) {
    #nav-top #name {
        font-size: 3vw;
    }

    #nav-top #title {
        font-size: 2.5vw;
    }

    #nav-top #subtitle {
        font-size: 2.5vw;
    }

    nav.navbar {
        display: none;
    }

    aside #navLinks {
        display: block;
    }

    .social-links li {
        font-size: 1.1em;
    }
}

@media screen and (min-width: 1440px) {
    #nav-top #name {
        font-size: 1.8vw;
    }

    #nav-top #title {
        font-size: 1.5vw;
    }

    #nav-top #subtitle {
        font-size: 1.5vw;
    }
}

#nav .active-page {
  color: white;
}
