main > h1 {
    text-align: center;
}

.project {
    /* border-bottom: 1px solid black; */
    text-align: center;
    max-width: 90%;
    margin: auto;
}
.project .end {
    margin-bottom: 2em;
    display: block;
    clear: both;
}

#mainParagraph {
  text-align: center;
}
.project .project-desc {
  text-align: center;
}

@media screen and (min-width: 1024px) {
  #mainParagraph {
    text-align: left;
  }
  .project .project-desc {
    text-align: left;
  }
}

.project img {
    display: block;
    margin: auto;
    margin-top: 6px;
    margin-bottom: 6px;
}

.project .categories {
    clear: both;
    margin-bottom: 4px;
}

.project .category {
    background-color: rgba(235, 60, 60, 1);
    color: ghostwhite;
    border-radius: 4px;
    padding: 1px 4px;
    font-weight: bold;
    font-size: 0.9em;
}

@media screen and (min-width: 1024px) {
    .project img {
        display: inline;
    }
    .project:nth-of-type(2n+1) img {
        float: left;
        margin-right: 10px;
    }
    .project:nth-of-type(2n) img {
        float: right;
        margin-left: 10px;
    }
}

button.more-details {
  margin-bottom: 8px;
}

.project-thumb {
  max-width: 40%;
  border-radius: 5px;
  box-shadow: 0 0 8px rgba(0, 0, 0, .7);
}
